homeassistant:
  # List of folders that can be used as sources for sending file.
  # Use http://.../local/ to access the files in this directory
  # Required for the camera.record service
  whitelist_external_dirs: /config/www
  # Name of the location where Home Assistant is running
  name: Home
  # Location required to calculate the time the sun rises and sets
  latitude:  !secret home_latitude
  longitude: !secret home_longitude
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: !secret home_elevation
  # metric for Metric, imperial for Imperial
  unit_system: imperial
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: America/Denver
  # Customization file
  customize: !include customize.yaml
  auth_providers:
  - type: homeassistant

recorder:
  #db_url: sqlite:////config/home-assistant_v2.db
  db_url: !secret mariadb_db_url
  #purge_keep_days: 1
  #exclude:
    #domains:
      #- sun
      #- weather
    #entities:
      #- binary_sensor.anet_a8_printing
      #- binary_sensor.anet_a8_printing_error
      #- binary_sensor.office_room_motion
      #- binary_sensor.sanda_s_room_motion
      #- sensor.office_humidity
      #- sensor.office_luminosity
      #- sensor.office_temperature
      #- sensor.sandra_s_room_luminosity
      #- sensor.sandra_s_room_temperature
      #- switch.office

prometheus:
  namespace: hass

logbook:

# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

# Show the introduction message on startup.
#introduction:

# Uncomment this if you are using SSL/TLS, running in Docker container, etc.
http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 192.168.1.0/24
    - 10.244.0.0/16
    - 172.17.0.1
  ip_ban_enabled: true
  login_attempts_threshold: 10

# Discover some devices automatically
discovery:

# Version of the JavaScript to serve.
# es5 - transpiled so old browsers understand it
# latest - not transpiled, so will work on recent browsers
# auto - version based on the User-Agent
frontend:
  javascript_version: latest


weather:
  - platform: darksky
    api_key: !secret darksky_api_key


# Text to speech
tts:
  - platform: google_translate
    service_name: google_say
    cache: true
    cache_dir: /config/tts
    time_memory: 300

mqtt:
  broker: !secret mosquitto_broker
  port: 1883
  username: !secret mosquitto_username
  password: !secret mosquitto_password

#nzbget:
  #host: 192.168.1.40
  #port: 32631
  #ssl: false
  #username: !secret nzbget_username
  #password: !secret nzbget_password

rest_command:
  nzbget:
    url: !secret nzbget_url
    method: POST
    username: !secret nzbget_username
    password: !secret nzbget_password
    payload: >+
      {"jsonrpc":"2.0", "method":"{{ method }}"}
  aria2:
    url: !secret aria2_url
    method: POST
    headers:
      accept: 'application/json, text/json'
      content-type: 'application/json, text/json'
    payload: >+
      {"jsonrpc":"2.0", "id":1, "method":"{{ method }}", "params":["token:{{ token }}"]}

# Laview Halo One
camera:
  - platform: ffmpeg
    name: Doorbell
    input: !secret doorbell_url
    extra_arguments: -vf "scale=iw/4:ih/4" -q:v 2
  - platform: local_file
    name: Driveway TF
    file_path: /config/www/driveway_latest.jpg
  - platform: mjpeg
    name: Anet A8
    still_image_url: !secret a8_still_image_url
    mjpeg_url: !secret a8_mjpeg_url

# Amcrest camera
amcrest:
  - host: !secret camera_host
    name: Driveway
    username: !secret camera_username
    password: !secret camera_password
    #port: 80
    stream_source: snapshot
    resolution: low
    binary_sensors:
      - motion_detected
    sensors:
      - sdcard

automower:
  username: !secret husqvarna_username
  password: !secret husqvarna_password

# Provides a way to proxy live streams through Home Assistant
# https://www.home-assistant.io/components/stream/
stream:

# Allows other components to process video and audio streams
# https://www.home-assistant.io/components/ffmpeg/
ffmpeg:
  ffmpeg_bin: /usr/bin/ffmpeg

zone:
  # This will override the default home zone
  - name: Home
    latitude:  !secret home_latitude
    longitude: !secret home_longitude
    radius: 200
    icon: mdi:account-multiple

  - name: !secret work_name
    latitude: !secret work_latitude
    longitude: !secret work_longitude
    icon: mdi:worker

  - name: !secret school_name
    latitude: !secret school_latitude
    longitude: !secret school_longitude
    radius: 100
    icon: mdi:school

  # Train Stations
  - name: !secret train_one_name
    latitude: !secret train_one_latitude
    longitude: !secret train_one_longitude
    radius: 250
    icon: mdi:train

  - name: !secret train_two_name
    latitude: !secret train_two_latitude
    longitude: !secret train_two_longitude
    radius: 100
    icon: mdi:train

  - name: !secret train_three_name
    latitude: !secret train_three_latitude
    longitude: !secret train_three_longitude
    radius: 250
    icon: mdi:train

proximity:
  ceaser:
    devices:
      - device_tracker.0x4950686f6e65
    tolerance: 50 # meters
    unit_of_measurement: mi
  cearah:
    devices:
      - device_tracker.cearah_iphone
    tolerance: 50 # meters
    unit_of_measurement: mi
  sarah:
    devices:
      - device_tracker.iphone
    tolerance: 50 # meters
    unit_of_measurement: mi

# Integrate with Nest
nest:
  client_id: !secret nest_client_id
  client_secret: !secret nest_client_secret

device_tracker:
  - platform: tile
    username: !secret tile_username1
    password: !secret tile_password1

# Send event on file changes. Used to connect camera.record and notify services.
# See https://www.home-assistant.io/components/folder_watcher/ for more info
folder_watcher:
  - folder: /config/www
    patterns:
      - '*.mp4'
#      - '*.jpg'

image_processing:
  - platform: tensorflow
    scan_interval: 86400
    source:
      - entity_id: camera.driveway
    file_out:
      - "/config/www/{{ camera_entity.split('.')[1] }}_latest.jpg"
      - "/config/www/{{ camera_entity.split('.')[1] }}_{{ now().strftime('%Y%m%d_%H%M%S') }}.jpg"
    model:
      graph: /config/tensorflow/frozen_inference_graph.pb
      categories:
        - category: person
          area:
            top: 0.09
            left: 0.06
            right: 0.72
        - category: car
          area:
#            top: 0.11
            top: 0.06
            left: 0.10
            right: 0.72
        - category: truck
          area:
#            top: 0.11
            top: 0.06
            left: 0.10
            right: 0.72
#        - cat
#        - dog
#  - platform: tensorflow
#    scan_interval: 10
#    source:
#      - entity_id: camera.doorbell
#    file_out:
#      - "/config/www/{{ camera_entity.split('.')[1] }}_latest.jpg"
#      - "/config/www/{{ camera_entity.split('.')[1] }}_{{ now().strftime('%Y%m%d_%H%M%S') }}.jpg"
#    model:
#      graph: /config/tensorflow/frozen_inference_graph.pb
#      categories:
#        - person
#        - cat
#        - dog

notify:
  - platform: group
    name: MotionDetectGroup
    services:
      - service: mobile_app_0x4950686f6e65
  - platform: alexa_media
    name: alexa_media

#neato:
  #username: !secret neato_username
  #password: !secret neato_password

octoprint:
  name: Anet A8
  host: !secret octoprint_host
  api_key: !secret octoprint_api_key
  port: 5000
  bed: true
  ssl: false
  number_of_tools: 1

shell_command:
  deluge_pause: !secret deluge_pause
  deluge_resume: !secret deluge_resume
  stop_octoprint: !secret stop_octoprint

sonos:
  media_player:
    hosts:
      - !secret sonos_host
    advertise_addr: !secret sonos_advertise_addr

# Echo integration. See https://www.home-assistant.io/components/alexa/
# for more information.
alexa:
  smart_home:
    locale: en-US
    endpoint: https://api.amazonalexa.com/v3/events
    client_id: !secret smart_home_client_id
    client_secret: !secret smart_home_client_secret
    entity_config:
      input_boolean.dog_outside:
        name: "Dog Outside"
        description: "Disable lawn mower, Turn on lights and pause the sprinkler system"
        display_categories: SWITCH
      light.family_room:
        name: "Family Room Light"
        description: "Family Room Light"
        display_categories: LIGHT
      light.garage_entry:
        name: "Garage Entry Light"
        description: "Garage Entry Light"
        display_categories: LIGHT
      light.basement_entry:
        name: "Basement Entry Light"
        description: "Basement Entry Light"
        display_categories: LIGHT
      light.storage_room:
        name: "Storage Room Light"
        description: "Storage Room Light"
        display_categories: LIGHT
      light.down_stairs_bathroom:
        name: "Downstairs Bathroom Light"
        description: "Downstairs Bathroom Light"
        display_categories: LIGHT
    filter:
      include_entities:
        - input_boolean.dog_outside
      include_domains:
        - light
        - fan
        #- climate
      exclude_entities:
        - light.familyroom1
        - light.familyroom2
        - switch.anet_a8_power_strip

# TODO: Incorporate custom updater
# https://github.com/custom-components/custom_updater
#custom_updater:
#  component_urls:
#    - https://raw.githubusercontent.com/keatontaylor/alexa_media_player/master/custom_components.json

intent_script: !include intent_script.yaml
ios: !include ios.yaml
sensor: !include sensor.yaml
binary_sensor: !include binary_sensor.yaml
switch: !include switch.yaml
light: !include light.yaml
fan: !include fan.yaml
group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
input_select: !include input_select.yaml
input_boolean: !include input_boolean.yaml
input_number: !include input_number.yaml
scene: !include scenes.yaml
