homeassistant:
  # List of folders that can be used as sources for sending file.
  # Use http://.../local/ to access the files in this directory
  # Required for the camera.record service
  whitelist_external_dirs: /home/homeassistant/.homeassistant/www
  # Name of the location where Home Assistant is running
  name: Home
  # Location required to calculate the time the sun rises and sets
  latitude:  !secret home_latitude
  longitude: !secret home_longitude
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: !secret home_elevation
  # metric for Metric, imperial for Imperial
  unit_system: imperial
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: America/Denver
  # Customization file
  customize: !include customize.yaml
  auth_providers:
  - type: homeassistant
  - type: legacy_api_password
    api_password: !secret http_password

recorder:
  db_url: sqlite:////home/homeassistant/.homeassistant/home-assistant_v2.db
  purge_interval: 1
  purge_keep_days: 1
  exclude:
    domains:
      - sun
      - weather
    entities:
      - binary_sensor.anet_a8_printing
      - binary_sensor.anet_a8_printing_error
      - binary_sensor.office_room_motion
      - binary_sensor.sanda_s_room_motion
      - sensor.office_humidity
      - sensor.office_luminosity
      - sensor.office_temperature
      - sensor.sandra_s_room_luminosity
      - sensor.sandra_s_room_temperature
      - switch.office

logbook:

# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

# Show the introduction message on startup.
#introduction:

# Uncomment this if you are using SSL/TLS, running in Docker container, etc.
http:
  base_url: !secret base_url
  use_x_forwarded_for: true
  trusted_proxies: 192.168.8.2
  ip_ban_enabled: true
  login_attempts_threshold: 10

# Discover some devices automatically
#discovery:

# Version of the JavaScript to serve.
# es5 - transpiled so old browsers understand it
# latest - not transpiled, so will work on recent browsers
# auto - version based on the User-Agent
frontend:
  javascript_version: latest


weather:
  - platform: darksky
    api_key: !secret darksky_api_key


# Text to speech
tts:
  - platform: google_translate
    service_name: google_say
    cache: true
    cache_dir: /home/homeassistant/.homeassistant/tts
    time_memory: 300

mqtt:
  broker: localhost
  port: 1883
  username: !secret mosquitto_username
  password: !secret mosquitto_password

rainmachine:
  controllers:
    - ip_address: 192.168.75.3
      password: !secret rainmachine_password
      binary_sensors:
        monitored_conditions:
          - extra_water_on_hot_days
#          - flow_sensor
          - freeze
          - freeze_protection
          - hourly
          - month
          - raindelay
          - rainsensor
          - weekday
      sensors:
        monitored_conditions:
#          - flow_sensor_clicks_cubic_meter
#          - flow_sensor_consumed_liters
#          - flow_sensor_start_index
#          - flow_sensor_watering_clicks
          - freeze_protect_temp
      switches:
        zone_run_time: 600

rest_command:
  nzbget:
    url: !secret nzbget_url
    method: POST
    username: !secret nzbget_username
    password: !secret nzbget_password
    payload: >+
      {"jsonrpc":"2.0", "method":"{{ method }}"}
  aria2:
    url: !secret aria2_url
    method: POST
    headers:
      accept: 'application/json, text/json'
      content-type: 'application/json, text/json'
    payload: >+
      {"jsonrpc":"2.0", "id":1, "method":"{{ method }}", "params":["token:{{ token }}"]}



# Laview Halo One
camera:
  - platform: neato
  - platform: ffmpeg
    name: Doorbell
    input: !secret doorbell_url
    extra_arguments: -vf "scale=iw/4:ih/4" -q:v 2
  - platform: local_file
    name: Driveway TF
    file_path: /home/homeassistant/.homeassistant/www/driveway_latest.jpg
  - platform: mjpeg
    name: Anet A8
    still_image_url: http://192.168.1.32:8080/?action=snapshot
    mjpeg_url: http://192.168.1.32:8080/?action=stream

# Amcrest camera
amcrest:
  - host: 192.168.75.2
    name: Driveway
    username: !secret camera_username
    password: !secret camera_password
    #port: 80
    stream_source: snapshot
    resolution: low
    binary_sensors:
      - motion_detected
    sensors:
      - sdcard

automower:
  username: !secret husqvarna_username
  password: !secret husqvarna_password

# Provides a way to proxy live streams through Home Assistant
# https://www.home-assistant.io/components/stream/
stream:

# Allows other components to process video and audio streams
# https://www.home-assistant.io/components/ffmpeg/
ffmpeg:
  ffmpeg_bin: /usr/bin/ffmpeg

# Apple TV remove and media_player
apple_tv:
  - host: 192.168.75.11
    login_id: !secret apple_login_id
    name: Downstairs
    start_off: false
    credentials: !secret downstairs_password
  - host: 192.168.75.10
    login_id: !secret apple_login_id
    name: Upstairs
    start_off: false
    credentials: !secret upstairs_password

alexa_media:
  accounts:
    - email: !secret amazon_username1
      password: !secret amazon_password1
      url: amazon.com
#    - email: !secret amazon_username2
#      password: !secret amazon_password2
#      url: amazon.com

zone:
  # This will override the default home zone
  - name: Home
    latitude:  !secret home_latitude
    longitude: !secret home_longitude
    radius: 200
    icon: mdi:account-multiple

  - name: East Gate
    latitude: !secret east_gate_latitude
    longitude: !secret east_gate_longitude
    radius: 6

  - name: !secret work_name
    latitude: !secret work_latitude
    longitude: !secret work_longitude
    icon: mdi:worker

  - name: !secret school_name
    latitude: !secret school_latitude 
    longitude: !secret school_longitude 
    radius: 100
    icon: mdi:school

  # Train Stations
  - name: !secret train_one_name 
    latitude: !secret train_one_latitude 
    longitude: !secret train_one_longitude
    radius: 250
    icon: mdi:train 

  - name: !secret train_two_name 
    latitude: !secret train_two_latitude 
    longitude: !secret train_two_longitude
    radius: 100
    icon: mdi:train 

  - name: !secret train_three_name 
    latitude: !secret train_three_latitude 
    longitude: !secret train_three_longitude
    radius: 250
    icon: mdi:train 

proximity:
  ceaser:
    devices:
      - device_tracker.0x4950686f6e65
    tolerance: 50 # meters
    unit_of_measurement: mi
  cearah:
    devices:
      - device_tracker.cearah_iphone
    tolerance: 50 # meters
    unit_of_measurement: mi
  sarah:
    devices:
      - device_tracker.iphone
    tolerance: 50 # meters
    unit_of_measurement: mi

# Integrate with Nest
nest:
  client_id: !secret nest_client_id
  client_secret: !secret nest_client_secret

device_tracker:
  - platform: tile
    username: !secret tile_username1
    password: !secret tile_password1

# Send event on file changes. Used to connect camera.record and notify services.
# See https://www.home-assistant.io/components/folder_watcher/ for more info
folder_watcher:
  - folder: /home/homeassistant/.homeassistant/www
    patterns:
      - '*.mp4'
#      - '*.jpg'

image_processing:
  - platform: tensorflow
    scan_interval: 86400
    source:
      - entity_id: camera.driveway
    file_out:
      - "/home/homeassistant/.homeassistant/www/{{ camera_entity.split('.')[1] }}_latest.jpg"
      - "/home/homeassistant/.homeassistant/www/{{ camera_entity.split('.')[1] }}_{{ now().strftime('%Y%m%d_%H%M%S') }}.jpg"
    model:
      graph: /home/homeassistant/.homeassistant/tensorflow/frozen_inference_graph.pb
      categories:
        - category: person
          area:
            top: 0.09
            left: 0.06
            right: 0.72
        - category: car
          area:
#            top: 0.11
            top: 0.06
            left: 0.10
            right: 0.72
        - category: truck
          area:
#            top: 0.11
            top: 0.06
            left: 0.10
            right: 0.72
#        - cat
#        - dog
#  - platform: tensorflow
#    scan_interval: 10
#    source:
#      - entity_id: camera.doorbell
#    file_out:
#      - "/home/homeassistant/.homeassistant/www/{{ camera_entity.split('.')[1] }}_latest.jpg"
#      - "/home/homeassistant/.homeassistant/www/{{ camera_entity.split('.')[1] }}_{{ now().strftime('%Y%m%d_%H%M%S') }}.jpg"
#    model:
#      graph: /home/homeassistant/.homeassistant/tensorflow/frozen_inference_graph.pb
#      categories:
#        - person
#        - cat
#        - dog

notify:
  - platform: group
    name: MotionDetectGroup
    services:
      - service: ios_0x4950686f6e65
#      - service: ios_iphone
  - platform: alexa_media
    name: alexa_media

neato:
  username: !secret neato_username 
  password: !secret neato_password

octoprint:
  name: Anet A8
  host: 192.168.1.32
  api_key: !secret octoprint_api_key
  port: 5000
  bed: true
  ssl: false
  number_of_tools: 1

shell_command:
  deluge_pause: !secret deluge_pause 
  deluge_resume: !secret deluge_resume
  stop_octoprint: !secret stop_octoprint
 
# Echo integration. See https://www.home-assistant.io/components/alexa/
# for more information.
alexa:

# TODO: Incorporate custom updater
# https://github.com/custom-components/custom_updater
#custom_updater:
#  component_urls:
#    - https://raw.githubusercontent.com/keatontaylor/alexa_media_player/master/custom_components.json

intent_script: !include intent_script.yaml
ios: !include ios.yaml
sensor: !include sensor.yaml
binary_sensor: !include binary_sensor.yaml
switch: !include switch.yaml
group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
input_select: !include input_select.yaml
input_boolean: !include input_boolean.yaml
