apple_login_id:
downstairs_password:
upstairs_password:
camera_username:
camera_password:
nest_client_id:
nest_client_secret:
http_password:
tile_username1:
tile_password1:
tile_username2:
tile_password2:
darksky_api_key:
home_latitude:
home_longitude:
home_elevation:
work_name:
work_latitude:
work_longitude:
school_name:
school_latitude:
school_longitude:
train_one_name:
train_one_latitude:
train_one_longitude:
train_two_name:
train_two_latitude:
train_two_longitude:
train_three_name:
train_three_latitude:
train_three_longitude:
base_url:
doorbell_username:
doorbell_password:
doorbell_url:
